
<p id="notice"></p>

 <%= link_to 'User info', edit_user_path(@user.id)  %>

<% @user.books.each do |book| %>
 <h4>Title</h4>
  <p>name:<%= book.title %></p>
  <p>opinion:<%= book.body %></p>
<% end %>

<%= render 'users/user_info', user: @user %>
<%= render 'books/new_book', book: @new_book %>