<h1>Editing book</h1>
<%= form_with model: @book do |book| %>
 <h2>Title</h2>
  <%= book.text_field :title %>
 <h2>Opinion</h2>
  <%= book.text_area :body %>

  <%= book.submit 'Update Book' %>
<% end %>

 <%= link_to "Show", book_path(@book) %>
 |
 <%= link_to "Back", books_path %>

